* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body */
body {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Search Box */
.search-box {
  margin-bottom: 20px;
}

.search-box input[type="text"] {
  width: 241px;
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 4px;
}

.search-box input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.search-box button {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: rgb(0, 123, 255);
  color: #fff;
  border: none;
}

.search-box button:disabled {
  background-color: #ccc;
}

/* Table */
.table {
  position: relative;
}

.table .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  border: 1px solid rgb(222, 226, 230);
  text-align: center;
}

/* Pagination */
.pagination {
  margin-top: 20px;
}

.pagination input[type="number"] {
  font-size: 12px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding: 0 4px;
}

/* Limit Input */
.limit-input {
  float: right;
  margin-top: 20px;
}
.country_Name_flag{
  display: flex;
  justify-content: center;
}




.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 




.pagination {
  margin-top: 20px;
}

.pagination button {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #495057;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
.validation-text{
  color: #FF3D00;
}

.user-input{
  margin-top: 20px;
}
.citiesPerPage_input{
  width: 40px;
}

@media (max-width: 350px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
}